extends layout.pug

block content
  .row.flex-items-xs-middle
    .col-xs
      table.table
        thead
          tr
            th Name
            th Description
            th Schema
        tbody
          each val in data
            tr
              td= val.name
              td= val.description
              td
                pre= val.schema
